In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('customer.csv')

In [4]:
df = df.iloc[:,2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size = 0.2)

In [7]:
x_train

     review education
29  Average        UG
12     Poor    School
31     Poor    School
27     Poor        PG
46     Poor        PG
34  Average    School
3      Good        PG
9      Good        UG
32  Average        UG
25     Good    School
35     Poor    School
22     Poor        PG
6      Good    School
38     Good    School
24  Average        PG
41     Good        PG
33     Good        PG
19     Poor        PG
15     Poor        UG
49     Good        UG
48     Good        UG
26     Poor        PG
28     Poor    School
14     Poor        PG
40     Good    School
21  Average        PG
36     Good        UG
10     Good        UG
43     Poor        PG
5   Average    School
2      Good        PG
42     Good        PG
11     Good        UG
23     Good    School
16     Poor        UG
44  Average        UG
1      Poor        UG
37  Average        PG
30  Average        UG
18     Good    School

In [8]:
y_train

29    Yes
12     No
31    Yes
27     No
46     No
34     No
3      No
9     Yes
32    Yes
25     No
35    Yes
22    Yes
6      No
38     No
24    Yes
41    Yes
33    Yes
19    Yes
15     No
49     No
48    Yes
26     No
28     No
14    Yes
40     No
21     No
36    Yes
10    Yes
43     No
5     Yes
2      No
42    Yes
11    Yes
23     No
16    Yes
44     No
1      No
37    Yes
30     No
18     No
Name: purchased, dtype: object

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
ax = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [11]:
ax.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [12]:
x_train = ax.transform(x_train)

In [13]:
x_train

array([[1., 1.],
       [0., 0.],
       [0., 0.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [2., 0.],
       [1., 2.],
       [2., 2.],
       [2., 2.],
       [0., 2.],
       [0., 1.],
       [2., 1.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [1., 2.],
       [2., 1.],
       [2., 1.],
       [0., 2.],
       [1., 0.],
       [2., 2.],
       [2., 2.],
       [2., 1.],
       [2., 0.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 2.],
       [1., 1.],
       [2., 0.]])

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

In [17]:
le.fit(y_train)

LabelEncoder()

In [18]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [19]:
y_train

array([1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0])

In [20]:
y_test

array([0, 0, 1, 0, 1, 1, 0, 0, 1, 1])